{% extends 'base.html' %}

{% block content %}
<div>
    <h1> {{ tournament_form.name }} </h1>
    <form action="" method="post" name="teamform">
    {{ tournament_form.hidden_tag() }}
        <table>
            {# column names #}
            <tr>
                <th></th>
                {% for chunk in chunks %}
                    <th>{{ chunk[0].main_fencer_name }}</th>
                {% endfor %}
            </tr>

            {% for i in chunks %}
                <tr>
                    <th>{{ i[0].main_fencer_name }}</th>
                    {% for match in i %}
                            {% if not match.is_different %}
                                <td class="blank"></td>   
                            {% else %}
                                <td>{{ match.score(class_="score_style")}}</td>
                            {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <p><input type="submit" name="edit" value="Update"></p>
    </form>
</div>

<style>
    .score_style {
        width:25%;
        background-color: rgb(225, 225, 225);
    } 
    .blank {
        background-color: #e0e0e0;
    }
</style>
{% endblock %}