{% extends 'base.html' %}

{% block content %}
<div>
    <form action="" method="post" name="tournament_update">
        {{ tournament_form.hidden_tag() }}
        <h1> {{ tournament_form.name }} </h1>
        <table>
            {# column names #}
            <tr>
                <th></th>
                {% for chunk in chunks %}
                    <th>{{ chunk[0].main_fencer_name.data }}</th>
                {% endfor %}
                <th>Place</th>
                <th>Victory Count</th>
                <th>TS</th>
                <th>TR</th>
                <th>Indicator</th>
            </tr>

            {% for i in chunks %}
                <tr>
                    <th>{{ i[0].main_fencer_name.data }}</th>
                    {% for match in i %}
                            {% if not match.is_different.data %}
                                <td class="blank"></td>   
                            {% else %}       
                                <td>
                                    {{ match.main_fencer}}
                                    {{ match.opponent }}
                                    {{ match.score(class="score_style")}}
                                </td>
                            {% endif %}
                    {% endfor %}
                    <td>{{ i[0].place.data }}</td>
                    <td>{{ i[0].v.data }}</td>
                    <td>{{ i[0].ts.data }}</td>
                    <td>{{ i[0].tr.data }}</td>
                    <td>{{ i[0].indicator.data }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><input type="submit" name="edit" value="Update"></p>
    </form>
</div>

<style>
    .score_style {
        width:25%;
        background-color: rgb(225, 225, 225);
    } 
    .blank {
        background-color: #e0e0e0;
    }
</style>
{% endblock %}