{% extends 'base.html' %}

{% block content %}
<form>
    <label for="tourn_id">Enter Tournament ID</label>
    <input type="number" name="tourn_id" id="tourn_id">

    <input type="submit" id="submit">
</form>

<script>
    submit_button = document.querySelector("#submit");
    submit_button.addEventListener("click", (e) => {
        console.log("clicked")
        e.preventDefault()
        let tournID = document.getElementById("tourn_id").value;
        let new_url = window.location.origin + "/display/" + tournID;
        window.location.replace(new_url)
    });
</script>
{% endblock %}